<div>
    <div ng-if='!$ctrl.data.isEditing'>
        {{$ctrl.card.description}}
        <div ng-click='$ctrl.editCard()'
             class='edit-small edit-card hand'>
        </div>
        <div ng-click='$ctrl.deleteCard()'
             class='remove-small remove-card hand'>
        </div>
    </div>

    <div ng-if='$ctrl.data.isEditing'>
        <form ng-submit='$ctrl.updateCard()'>
            <input type='text'
                   ng-keyup="$ctrl.onKeyUp($event)"
                   is-editing='$ctrl.isEditing'
                   ng-model='$ctrl.data.editingValue'>
            <select class='select-list'
                    ng-model='$ctrl.data.selectedOption'
                    ng-options="list.name for list in $ctrl.listsNames track by list.id">
            </select>
        </form>
    </div>
</div>