<ul class="list list-inline"
    data-as-sortable
    data-ng-model="$ctrl.list.cards">

    <li class="card"
        ng-repeat="card in $ctrl.list.cards"
        data-as-sortable-item>
            <div data-as-sortable-item-handle>
                <trello-card card="card"
                             list-index="$ctrl.listIndex"
                             card-index="$index"
                             map-list-names="$ctrl.mapListNames">
                </trello-card>
            </div>
    </li>

    <h1 ng-bind="$ctrl.list.listName"></h1>
    <a ng-click="$ctrl.removeList()" class="hand">
        <div class="remove remove-list"></div>
    </a>

</ul>