<ul class="list list-inline"
    data-as-sortable
    data-ng-model="$ctrl.list.cards">
    <h1 ng-bind="$ctrl.list.listName"></h1>

    <li class="card"
        ng-repeat="card in $ctrl.list.cards"
        data-as-sortable-item>
            <div data-as-sortable-item-handle>
                <trello-card card="card"
                             list-index="$ctrl.listIndex"
                             card-index="$index"
                             lists-names="$ctrl.data.listsNames">
                </trello-card>
            </div>
    </li>

    <a ng-click="$ctrl.removeList()" class="hand">
        <div class="remove remove-list"></div>
    </a>

    <input-add-card list-index="$ctrl.listIndex"></input-add-card>

</ul>